<template>
  <div class="container">
    <div class="row">
      <input type="text" class="input" v-model="newComm" />
      <button @click="addComment" class="button btn-success">Добавить</button>
    </div>
    <ul class="list-group">
      <li v-for="(item, key) in comments" :key="key" class="list-group-item">
        {{ item.message }}
        <button @click="deleteComment(key)" class="delete btn-danger">Удалить</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      comments: [{ message: "Foo" }, { message: "Bar" }],
      newComm: '',
    };
  },
  methods: {
    addComment() {
      if (!this.isEmpty(this.newComm)) {
        this.comments.push({
          message: this.newComm,
        });
        this.newComm = '';
      }
    },
    isEmpty(str) {
      return !str || 0 === str.length;
    },
    deleteComment(key) {
      this.comments.splice(key, 1)
    }
  },
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
}
.input {
  width: 200px;
  height: 100px;
  font-size: 40px;
}
.button {
  width: 200px;
  height: 100px;
}
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
</style>
